.mainSectionMainWork {
  background-image: url(../../../../assets/galaxyoIC.jpg);
  background-position: center;
  background-size: cover;
  filter: saturate(0.4);
  background-repeat: no-repeat;
}
.projects-wrapper {
  width: 60%;
  padding: 30px;
}
.projects-wrapper a {
  margin-top: 10px;
}
.textContentinwork {
  padding: 20px 0;
}
.imageinworkContainerAstranout {
  transform: rotate(160deg);
}
.textContentinwork h3 {
  width: 40%;
}
.cardInworkComponent {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  text-align: left !important;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
}
.point-left {
  transform: scaleX(-1) !important; /* Flip horizontally to point left */
}

.point-right {
  transform: scaleX(1) !important; /* Normal direction (pointing right) */
}
.customCursor {
  position: fixed; /* Ensures it stays in place relative to the viewport */
  width: 100px;
  height: 100px;
  pointer-events: none; /* Prevents it from interfering with mouse events */
  transform: translate(-50%, -50%); /* Centers the cursor */
  transition: transform 0.1s linear; /* Smooth movement */
  z-index: 1000;
}

@media only screen and (max-width: 600px) {
  .textContentinwork h3 {
    width: 100%;
  }
}
