.animated-moon {
    width: 65%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: -250px;
    right: -70px;
    border-radius: 50%;
    background-image: url('../../../../../assets/moon.webp');
    background-size:130% 120%;
    background-position-y: center !important;
    background-repeat: no-repeat;
    animation-name: moonRotation;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards !important;
    box-shadow: inset -10px 8px 6px -5px #ffffff,
        inset 20px -20px 50px 43px rgba(0, 0, 0, 0.9),
        7px -6px 14px rgba(255, 255, 255, 0.3215686275);

}

@keyframes moonRotation {
    0% {
        background-position: 30% 0%;
    }

    50% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 80% 0%;
    }
}

@media screen and (max-width:670px) {
    .animated-moon {
        width: 85%;
        height: 90%;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        top: 150px;
        right: 0px;
    }
}