.parent {
  perspective: 1000px;
  overflow: visible;
}
.content-box {
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.mainSectionService {
  perspective: 800px;
  transform-style: preserve-3d !important;
}

.circleinbg {
  height: 500px;
  width: 700px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  filter: blur(100px);
  justify-content: center;
  position: absolute;
}

.imginservice {
  filter: grayscale(50%);
}

.blackscreen {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.services-section {
  /* radial */
  background: radial-gradient(
    circle at center,
    rgba(0, 44, 255, 0.7) 0%,
    rgba(0, 0, 0, 1) 60%
  );

  width: 100%;
}

.services-section .marzi-ka-font {
  font-size: 15px;
  font-family: "ethnocentric", sans-serif;
}
.services-cards {
  background: rgba(42, 42, 42, 0.103);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  width: 100%;
  margin: 20px 0;
}
.services-cards div {
  padding: 15px 12px;
  gap: 10px;
}
.services-cards img {
  height: 200px;
  width: 400px;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 600px) {
  .circleinbg {
    display: none;
  }
  .services-section .marzi-ka-font {
    font-size: 25px;
  }
  .services-section {
    background: radial-gradient(
      circle at center,
      rgba(0, 44, 255, 0.7) 0%,
      rgba(0, 0, 0, 1) 80%
    );
  }
  .margin {
    margin-top: 72px;
  }
  .services-cards {
    width: 90%;
  }
  .services-cards h1 {
    font-size: 14px;
  }
  .services-cards p {
    font-size: 12px;
  }
  .services-cards img {
    height: 200px;
    width: 400px;
  }
  /* special classes */
  .ol-special {
    width: 95%;
    height: 103%;
  }
  .aaa {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
