.textContent h1,
.textContent p {
  margin: 0 !important;
}

.textContent {
  margin: 0;
  padding: 0;
}

.heroPageMainSection {
  position: absolute;
  mix-blend-mode: plus-lighter;
  height: 100%;
  width: 100vw;
  z-index: 50;
  pointer-events: none;
  background: #000000;
  opacity: 60%;
  background: linear-gradient(1deg, rgba(0, 0, 0, 1) 75%, rgb(0, 0, 0) 100%);
}

/* From Uiverse.io by Spacious74 */
.buttonDivinHero button {
  font-size: 1.2em;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #19191b;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.buttonDivinHero {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
  margin: 0;
}

.buttonDivinHero::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.buttonDivinHero:hover::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1.2em);
}

.buttonDivinHero:active::before {
  filter: blur(0.2em);
}

@media only screen and (max-width: 600px) {
  .textContent {
    margin-top: 30px;
  }
}